/*  =========================  SEDONA PAGE LAYOUT  */

.sedona-hash {
    
    font-size: 21px;
    line-height: 26px;
    
    font-weight: 700;
    text-align: center;
    
    color: #000000;
    
}